/******************************************************************
Site Name: David MANSON
Author: David MANSON

Stylesheet: Typography
******************************************************************/


// font stacks
$sans-serif:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;

// Custom font
$opensans:          'Open Sans', $serif;

// Site font definition
$primary-font: $opensans;
$secondary-font: $opensans;




/********************
  GENERAL STYLES
*********************/
body {
	font-family: $primary-font;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
	background-color: #FBFBFB;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}