/******************************************************************
Site Name: MonsieurPress
Author: David MANSON <contact@david-manson.com>

Stylesheet: Grid Stylesheet
******************************************************************/


@include border-box-sizing;
/************************
       Container
*************************/
.container{
    @include container();
    padding: 0 gutter()*2;
    @media (max-width: 767px){
        max-width: 680px;
    }
}


/************************
   Columns
*************************/
@media screen and (min-width: 768px) {
    
    [class^='col-']{
        float: left;
        margin-right: gutter();
    }
    
    @for $i from 1 through 12 {
        .col-#{$i} {
            width: span($i);
        }
    }
    
}


/**********************************
   Vertical & horizontal pusher
**********************************/
@for $i from 1 through 11 {
    .col-push-#{$i} {
        @include pre($i);   
    }
    .l-pad-#{$i}{   
        padding: #{$i}em 0;
    }
}


/************************
   Helpers
*************************/
.col-last{
    margin-right: 0;   
}