

/*-------------------
    Sizes
--------------------*/

    $header-height: 50px;



/*-------------------
    Colors
--------------------*/

    $main-color:        #00B9EB;

    /* Light variations */
    $white:             #FFFFFF;
    $light-gray:        #f8f9fa;
    $gray:              #eaedf2;

    /* Dark variations */
    $black:             #111111;
    $text-color:        #3A3A3A;




/*-------------------
    Grid config
--------------------*/

    $susy: (
        columns: 12,
        container: 1180px,
        gutters: 5/8,
        global-box-sizing: border-box,
        debug: (image: hide)
    );




/********************
  LINK STYLES
*********************/
a {
	color: $main-color;

	&:visited {
		color: $main-color;
	}
	&:hover,
	&:focus,
	&:active {
		text-decoration: underline;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}



/********************
  HELPERS
*********************/
.text-center{
    text-align: center;   
}
.text-large{
    font-size: 20px;
    color: #7B8588;
    font-weight: 500;
    line-height: 1.8em;
}