/*********************
 LAYOUT & GRID STYLES
*********************/
.l-header{
    background-color: white;   
}

.l-white{
    background: #ffffff;
}

.l-gradient{
    background: #24C6DC;
    background: linear-gradient(to left, #24C6DC , #514A9D);
}

.l-light-gray{
    background: #F7F7F8;
}