/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: center;

    ul {
      display: inline-block;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid $gray;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $blue;

      &:hover, &:focus {
      	background-color: $blue;
      	color: $white;
      }
    }

    .current{
    	cursor: default;
    	color: $text-color;

    	&:hover, &:focus {
    		background-color: $white;
    		color: $text-color;
    	}
    }

  }

	.wp-prev-next {
		ul {}
		.prev-link {
			float: left;
		}
		.next-link {
			float: right;
		}
	}