/*********************
  Page title
*********************/
.page-title{
    color: #FFFFFF;
    text-align: center;

    h2{
        font-family: $secondary-font;
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 0;
    }
}



/*********************
  Section title
*********************/
$title-height: 80px;

.section-title{
    font: 700 66px/#{$title-height} $secondary-font;
    color: #CACACA;
    margin: .5em 0 .7em 0;
}
