/*********************
 SECTIONS STYLE
*********************/
.l-header{
    background-color: white;   
}

.l-white{
    background: #ffffff;
}

.l-gradient{
    background: #24C6DC;
    background: linear-gradient(to left, #24C6DC , #514A9D);
}

.l-light-gray{
    background: #F7F7F8;
}



/*********************
 SPECIFIC STYLES
*********************/
.marketing-theme{
    text-align: center;
    .col-4{
        margin-top: 2em;
        margin-bottom: 2em;
    }
    h3{
        text-transform: uppercase;
        font-weight: bold;
        color: #444;
    }
}