/*********************
   Burger button
*********************/

//$btn-color: #5AB7BE;
$btn-color: #5AB7BE;
.menu-icon {
    position: relative;
    float: right;
    width: 50px;
    height: 50px;
    transition: transform 0.5s;
}
.menu-icon span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 22px;
    height: 2px;
    background-color: $btn-color;
    transition: background 0.5s;
}

.menu-icon span::before,
.menu-icon span::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-6px);
    display: block;
    width: 22px;
    height: 2px;
    background-color: $btn-color;
    transition: transform 0.5s;
}

.menu-icon span::after {
    transform: translateY(6px);
}

.menu-on .menu-icon span {
    background: transparent;
}

.menu-on .menu-icon span::before {
    transform: translateY(0) rotate(45deg);
}

.menu-on .menu-icon span::after {
    transform: translateY(0) rotate(-45deg);
}