/*********************
  Intro home
*********************/
.intro-text{
    color: #FFFFFF;
    text-align: center;
    animation: txt-intro-anim 1.5s 1 ease;

    h1{
        font: bold 30px/1.5em $secondary-font;
        @media only screen and (min-width: 1030px) {
            font-size: 35px;
        }
    }
}



/*********************
  Intro animation
*********************/
@include keyframes(txt-intro-anim){
    0%{
        transform: translate(0, 40px);
        opacity: 0;
    }
    100%{
        transform: translate(0px, 0px);
        opacity: 1;
    }
}