// https://make.wordpress.org/accessibility/2015/02/09/hiding-text-for-screen-readers-with-wordpress-core/

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    &:focus{
        clip: auto !important;
        display: block;
        height: auto;
        width: auto;
        z-index: 100000;
    }
}
