//*******************************************************
// GRID FILE
// A simple homemade Grid system
//*******************************************************

*{
    box-sizing: border-box;
}


/*-----------------------
    Container
------------------------*/
.l-container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 1em;
    @extend %clearfix;
    @media (max-width: 767px){
        max-width: 680px;
    }
}


/*-----------------------
    Lines
------------------------*/
.l-row {
    @extend %clearfix;
}


/*-----------------------
    Columns
------------------------*/
[class*='l-col-'] {
    float: left;
    padding: 0 1.5em;
    width: 100%;
    min-height: 1px;
}

@media screen and (min-width: 768px) {
    @for $i from 1 through 12 {
        .l-col-#{$i} {
            width: 100% / 12 * $i;
        }
    }
}


/*-------------------------------
    Pushers
--------------------------------*/
@media screen and (min-width: 768px) {
    @for $i from 1 through 10 {
        .l-col-push-#{$i} {
            margin-left: 100% / 12 * $i;
        }
    }
}


/*-------------------------------
    Padding up & down
--------------------------------*/
@for $i from 1 through 11 {
    .l-ptop-#{$i}, .l-pad-#{$i}{
        padding-top: #{$i}em;
    }
    .l-pbottom-#{$i}, .l-pad-#{$i}{
        padding-bottom: #{$i}em;
    }
}


/*-------------------------------
    Padding up & down mobile
--------------------------------*/
@media screen and (max-width: 767px) {
    @for $i from 1 through 11 {
        .l-mptop-#{$i}, .l-mpad-#{$i}{
            padding-top: #{$i}em;
        }
        .l-mpbottom-#{$i}, .l-mpad-#{$i}{
            padding-bottom: #{$i}em;
        }
    }
}
