//*******************************************************
// GRID FILE
// A simple homemade Grid system
//*******************************************************


/*-----------------------
    Config
------------------------*/
$gutter: 20px;
$container: 1080px;


/*-----------------------
    Global
------------------------*/
*{ box-sizing: border-box; }


/*-----------------------
    Container
------------------------*/
.l-container {
    @include outer-container($container);
    width: 80%;
}


/*-----------------------
    Columns Desktop
------------------------*/
@media screen and (min-width: 980px) {
    @for $i from 1 through 12 {
        .l-col-#{$i} {
            @include span-columns($i);
        }
    }
}


/*-------------------------------
    Pushers
--------------------------------*/
@media screen and (min-width: 768px) {
    @for $i from 1 through 10 {
        .l-col-push-#{$i} {
            margin-left: 100% / 12 * $i;
        }
    }
}


/*-------------------------------
    Padding up & down
--------------------------------*/
@for $i from 1 through 11 {
    .l-ptop-#{$i}, .l-pad-#{$i}{
        padding-top: #{$i}em;
    }
    .l-pbottom-#{$i}, .l-pad-#{$i}{
        padding-bottom: #{$i}em;
    }
}


/*-------------------------------
    Padding up & down mobile
--------------------------------*/
@media screen and (max-width: 767px) {
    @for $i from 1 through 11 {
        .l-mptop-#{$i}, .l-mpad-#{$i}{
            padding-top: #{$i}em;
        }
        .l-mpbottom-#{$i}, .l-mpad-#{$i}{
            padding-bottom: #{$i}em;
        }
    }
}
