/*----------------------
   Setup
-----------------------*/
$header-height: 60px;
$logo-height: 40px;
$break-point: 768px;
$margin-logo: ($header-height - $logo-height)/2;


/*----------------------
   Header wrapper
-----------------------*/
.header {
    background-color: $white;
    border-bottom: 1px solid $light-gray;
    position: relative;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.22);
}


/*----------------------
   Logo
-----------------------*/
.site-logo img {
    float: left;
    display: block;
    width: auto;
    height: $logo-height;
    margin: $margin-logo 0;
}



/*-----------------------
     Mobile menu
-------------------------*/
.site-nav {
    max-height: 0;
    width: 100%;
    transition: max-height .2s ease-in-out;
    overflow: hidden;
    background: white;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    li{
        text-align: center;
    }
    li > a {
        color: $gray;
        font-weight: bold;
        display: block;
        padding: 0.75em;
        white-space: nowrap;
        &:hover {
            text-decoration: none;
            color: $main-color;
        }
    }
    .no-js &,
    .is-menu-on & {
        max-height: 300px;
    }
}


/*-----------------------------
   Navigation desktop layout
------------------------------*/
@media only screen and (min-width: $break-point) {
    .menu-icon {
        display: none;
    }
    .site-nav {
        max-height: none;
        width: auto;
        float: right;

        ul {
            margin-top: 0;
        }
        li {
            display: inline-block;
            text-align: left;
            position: relative;
        }
        li a {
            padding: 0 1em;
            line-height: $header-height;
        }
        li.current-menu-item > a,
        li.current_page_item > a,
        li.current_page_ancestor > a,
        .current-menu-ancestor > a {
            color: $main-color;
        }
    }
}


/*----------------------
   Sub menu
-----------------------*/
@media only screen and (min-width: $break-point) {
    .site-nav .sub-menu {
        z-index: 99;
        position: absolute;
        right: 0;
        padding: 0;
        background: $light-gray;
    }
}


/*----------------------
   Sub menu
-----------------------*/
@media only screen and (min-width: $break-point) {

    .site-nav .menu-item-has-children {
        .sub-menu {
            @include unvisible();
            transition: all 0.3s ease-in-out;
        }
        &:hover .sub-menu {
            @include visible();
        }
    }
}
