/*----------------------
   Header wrapper
-----------------------*/
.header {
	background-color: $white;
    padding: .5em;
    width: 100%;
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
    position: fixed;
    z-index: 999;
    .single-post &{
        border-bottom: 1px solid #efefef;   
    }
}



/*----------------------
   Global wrapper
-----------------------*/
.site-content{
    padding-top: 66px;
}



/*----------------------
   Logo
-----------------------*/
.site-logo img{
    float: left;
    display: block;
    height: 24px;
    width: auto;
    box-sizing: content-box;
    padding: ($header-height - 24)/2 0;
}



/*----------------------
   Navigation
-----------------------*/
.menu-icon{
    display: block;
}

.site-nav {
    display: none;
    clear: left;
    
    .no-js &{
        display: block;   
    }
    
    .is-menu-on &{
        display: block;
    }
    
    ul{
        list-style: none;
        margin: 0;
    }
	li {
		a {
            font-size: 14px;
            font-weight: 600;
			display: block;
			color: #575757;
			text-decoration: none;
			padding: 0.75em;
		}
    }
}



/*----------------------
   Navigation desktop
-----------------------*/
@media only screen and (min-width: 768px) {

    .menu-icon{
        display: none;   
    }

    .site-nav {
        clear: none;
        float: right;
        display: block !important;

        ul {
            margin-top:0;
        }

        li {
            float: left;
            position: relative;

            a {
                line-height: $header-height;
                padding: 0 .75em;
                &:hover, &:focus {
                    color: $main-color;
                }
            }

        }

        /* highlight current page */
        li.current-menu-item > a,
        li.current_page_item > a,
        li.current_page_ancestor > a,
        .current-menu-ancestor > a{
            color: $main-color;
        }
        
    }
}