/*----------------------
   Section style
-----------------------*/
.l-header{
    background-color: $white;   
}

.l-white{
    background: $white;
}

.l-dark{
    background: $dark-gray;
}

.l-light-gray{
    background: $light-gray;
}



/*----------------------
   Specific section
-----------------------*/
.marketing-theme{
    .l-col-4{
        margin-top: 2em;
        margin-bottom: 2em;
    }
    h3{
        text-transform: uppercase;
        font-weight: bold;
        color: $main-color;
    }
}