/*----------------------
    Buttons
-----------------------*/

%btn {
    display: inline-block;
    text-decoration: none;
    color: $white;
    font-size: 16px;
    padding: .5em 1.5em;
    border: 2px solid $white;
    cursor: pointer;
    background: transparent;
    text-align: center;
    transition: all 0.14s ease-in-out;

    &:hover, &:focus {
        color: $main-color;
        text-decoration: none;
        outline: none;
        background: white;
    }
    &:active {
        top: 1px;
    }
}


.btn,
a.btn,
a.btn:visited {
    @extend %btn;
}

