/*----------------------
   Pagination style
-----------------------*/
.pagination {
    @extend %clearfix;
    
    .page-numbers{
        float: left;
        padding: .4em;
        min-width: 9%;
        border-radius: 3px;
        text-align: center;
        margin-right: .5em;
        text-decoration: none;
    }
    
    .page-numbers.current,
    .page-numbers:hover{
        background: $main-color;
        color: $white;
    }
    
    .page-numbers.next,
    .page-numbers.prev{
        
    }
}
