/*----------------------
   Widgets style
-----------------------*/
.widget{
    background: $light-gray;
    margin-bottom: 1em;
    padding: 1em;
}

.widgettitle{
    text-align: center;
    margin-top: 0;
}