//*******************************************************
// CONFIG FILE
// Here we set the variables used throughout the project
//*******************************************************


//-------------------
//  Sizes
//-------------------
$header-height: 50px;


//-------------------
//  Colors
//-------------------
$main-color:        #FF5800;

// Light variations
$white:             #FFFFFF;
$light-gray:        #f8f9fa;
$gray:              #9e9e9f;

// Dark variations
$black:             #111111;
$text-color:        #3A3A3A;



//-------------------
//  Font config
//-------------------
// font stacks
$sans-serif:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;
$opensans:          'Open Sans', $serif;

// Site font definition
$primary-font: $opensans;
$secondary-font: $opensans;
