//*******************************************************
// CONFIG FILE
// Here we set the variables used throughout the project
//*******************************************************
// Palette : http://www.colourlovers.com/palette/50272/Happy_freshness


//-------------------
//  Colors
//-------------------
$background-color:  #f8f8f8;
$main-color:        #00749A;

// Light variations
$white:             #FFFFFF;
$light-gray:        #f5f5f5;
$gray:              #aebdc1;
$dark-gray:         #393d40;

// Dark variations
$black:             #111111;
$text-color:        #3A3A3A;



//-------------------
//  Font config
//-------------------
$primary-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$secondary-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
