//*******************************************************
// CONFIG FILE
// Here we set the variables used throughout the project
//*******************************************************



//-------------------
//  Colors
//-------------------
$main-color:        #FF5800;

// Light variations
$white:             #FFFFFF;
$gray:              #9e9e9f;
$light-gray:        #f5f5f5;
$dark-gray:         #333333;

// Dark variations
$black:             #111111;
$text-color:        #3A3A3A;



//-------------------
//  Font config
//-------------------
$primary-font: "Helvetica Neue", Helvetica, Arial, sans-serif;;
$secondary-font: "Helvetica Neue", Helvetica, Arial, sans-serif;;
