//*******************************************************
// HELPERS FILE
// Here we set the helpers used throughout the project
//*******************************************************

.text-center{
    text-align: center;   
}

.text-large{
    font-size: 20px;
    color: #7B8588;
    font-weight: 500;
    line-height: 1.8em;
}