//*******************************************************
// HELPERS FILE
// Here we set the helpers used throughout the project
//*******************************************************

.text-center{
    text-align: center;   
}

.text-large{
    font-size: 20px;
    color: $dark-gray;
    font-weight: 200;
    line-height: 1.8em;
}