//************************************************************
// UTILS FILE
// Here we put the placeholders, helpers, mixins & functions
//************************************************************

//-----------------------
// Placeholders
//-----------------------
%clearfix{
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}


//-----------------------
// Helpers
//-----------------------
.clearfix{
    @extend %clearfix;
}

.text-center{
    text-align: center;   
}

.text-large{
    font-size: 20px;
    color: $dark-gray;
    font-weight: 200;
    line-height: 1.8em;
}