/*----------------------
   Burger button
-----------------------*/
$btn-color: $white;

.menu-icon {
    position: relative;
    float: right;
    width: 50px;
    height: 50px;
    transition: transform 0.5s;
    margin-top: 7px;
}

.menu-icon > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 22px;
    height: 2px;
    background-color: $btn-color;
    transition: background 0.5s;
    &:before, &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-6px);
        display: block;
        width: 22px;
        height: 2px;
        background-color: $btn-color;
        transition: transform 0.5s;
    }
    &:after{
        transform: translateY(6px);
    }
}

.is-menu-on .menu-icon > span {
    background: transparent;
    &:before{
        transform: translateY(0) rotate(45deg);
    }
    &:after{
        transform: translateY(0) rotate(-45deg);
    }
}
