/*----------------------
    Buttons
-----------------------*/
%btn {
    display: inline-block;
    text-decoration: none;
    color: $white;
    font-size: 16px;
    padding: .5em 1.5em;
    border: none;
    cursor: pointer;
    background: $main-color;
    text-align: center;
    transition: all 0.14s ease-in-out;

    &:hover, &:focus {
        color: $white;
        text-decoration: none;
        outline: none;
        background: shade($main-color, 40%);
    }
    &:active {
        top: 1px;
    }
}


.btn,
input.btn,
a.btn,
a.btn:visited {
    @extend %btn;
}
