/*----------------------
   Header wrapper
-----------------------*/

.header {
	background-color: $white;
    width: 100%;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    position: fixed;
    z-index: 999;
    .single-post &{
        border-bottom: 1px solid #efefef;   
    }
}



/*----------------------
   Global wrapper
-----------------------*/
.site-content{
    padding-top: 61px;
}



/*----------------------
   Logo
-----------------------*/
.site-logo img{
    float: left;
    display: block;
    height: 24px;
    width: auto;
    box-sizing: content-box;
    padding: 18px 0;
}



/*----------------------
   Navigation basic
-----------------------*/
.menu-icon{
    display: block;
}

.site-nav {
    display: none;
    clear: left;
    
    .no-js &, .is-menu-on &{
        display: block;   
    }
    
    ul{
        list-style: none;
        padding-left: 1em;
    }
	li {
		a {
            font-size: 14px;
			display: block;
			color: $dark-gray;
			text-decoration: none;
			padding: 0.75em;
            white-space: nowrap;
		}
    }
}



/*----------------------
   Navigation desktop
-----------------------*/
@media only screen and (min-width: 768px) {

    .menu-icon{
        display: none;   
    }

    .site-nav {
        clear: none;
        float: right;
        display: block !important;

        ul {
            margin-top:0;
        }

        li {
            float: left;
            position: relative;

            a {
                padding: 20px 1.5em;
                &:hover, &:focus {
                    color: $main-color;
                }
            }

        }

        /* highlight current page */
        li.current-menu-item > a,
        li.current_page_item > a,
        li.current_page_ancestor > a,
        .current-menu-ancestor > a{
            color: $main-color;
        }
        
        /* The sub menu */
        .sub-menu{
            position: absolute;
            right: 0;
            padding: 0;
            background: $light-gray;
            a{
                color: $dark-gray;
            }
        }
        
    }
    
    /*----------------------
       Sub menu system
    -----------------------*/
    .site-nav .menu-item-has-children{

        .sub-menu{
            opacity: 0;
            visibility: hidden;
            transition: all .2s ease-in-out;
        }

        &:hover .sub-menu{
            opacity: 1;
            visibility: visible;
        }

    }
}