/*----------------------
   Intro Home
-----------------------*/
.intro-text{
    color: $white;
    text-align: center;
    animation: txt-intro-anim 1.5s 1 ease;
    h1{
        margin: 0 0 .2em;
        color: $main-color;
        font: 300 50px/1.3em $secondary-font;
        @media only screen and (min-width: 1030px) {
            font-size: 66px;
        }
    }
    h2{
        margin-top: 0;
        font: 500 25px/1.4em $secondary-font;
        color: #555555;
    }
}

/*----------------------
   Intro animation
-----------------------*/
@keyframes txt-intro-anim{
    0%{
        transform: translate(0, 40px);
        opacity: 0;
    }
    100%{
        transform: translate(0px, 0px);
        opacity: 1;
    }
}
