/*----------------------
   Section title
-----------------------*/
.section-title{
    text-align: center;
    font: 200 48px/1.5em $secondary-font;
    color: $dark-gray;
    margin: .5em 0 .7em 0;
}
