/*----------------------
   Pages titles
-----------------------*/
.page-title{
    color: #FFFFFF;
    text-align: center;

    h2{
        font: bold 30px/1.5em $secondary-font;
        text-transform: uppercase;
        margin: 0;
    }
}



/*----------------------
   Section title
-----------------------*/
.section-title{
    text-align: center;
    font: 200 48px/1.5em $secondary-font;
    color: $dark-gray;
    margin: .5em 0 .7em 0;
}
