/*----------------------
   Widgets style
-----------------------*/
.widgets{
    .widget{
        border-top: 3px solid $dark-gray;
        margin-bottom: 1em;
    }

    .widgettitle{
        margin: .5em 0;
        font-size: ms(0);
        font-weight: bold;
        text-transform: uppercase;
    }
}
